<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body>
    <div class="container_formulaire">
        <div class="container_connexion">
            <div class="container_logo">
                <div class="logo_formulaire">Royal enchère</div>
                <div class="image_logo">
                    <img src="{% static 'images/marteau-enchère3mdf.png' %}" alt="">
                </div>
            </div>
            <div class="container_form">
                <div class="titre_form">FORMULAIRE</div>
                <div class="formulaire">
                    <form action="{% url "inscription" %}" method="POST">
                        {% csrf_token %}
                        <div class="form_control">
                            <input class="email" type="email" placeholder="Votre@gmail.com" name="email">
                        </div>
                        <div class="form_control">
                            <input class="mdp" type="password" placeholder="Insérez votre mot de passe" name="mdp1">
                        </div>
                        <div class="form_control">
                            <input class="mdp" type="password" placeholder="Confirmez votre mot de passe" name="mdp2">
                        </div>
                        <div class="form_control">
                            <input class="btn_connexion" type="submit" value="Enregistrer">
                        </div>
                        <div class="form_controls">
                            <a href="{% url "connexion" %}">J'ai déjà un compte</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>