{% extends "layouts/base.html" %}
{% block content %}
    <main>
        <div class="container_detail">
            <div class="container_image">
                <div class="g_image">
                    <img src="assets/images/rolex1.jpg" alt="">
                </div>
                <div class="p_image">
                    <img src="assets/images/rolex1.jpg" alt="">
                    <img src="assets/images/rolex2.jpg" alt="">
                    <img src="assets/images/rolex3.jpg" alt="">
                    <img src="assets/images/rolex2.jpg" alt="">
                </div>
            </div>
            <div class="container_description">
                <div class="btn_inscrire_encheres">
                    <a href="">
                        <button>S'INSCRIRE POUR ENCHERIR</button>
                    </a>
                </div>
                <div class="lieux_enchere">
                    Antananarivo - Madagascar
                </div>
                <div class="titre_enchere">
                    Montre Rolex Submariner 2025
                </div>

                <div class="prix_enchere">
                    4 500 000 Ar
                </div>

                <div class="info_enchere">
                    <div class="info_box">
                        <h4>Meilleure offre</h4>
                        <p>27 enchères</p>
                    </div>
                    <div class="info_box">
                        <h4>Vendeur</h4>
                        <p>Royal Auction</p>
                    </div>
                </div>
                <div class="detail_encheres">
                    Cette montre Rolex Submariner est vendue aux enchères avec certificat
                    d'authenticité. Elle est en excellent état, accompagnée de sa boîte
                    d'origine et de tous ses accessoires. Les enchères restent ouvertes
                    jusqu'à la fin du compte à rebours.
                </div>
            </div>
        </div>
        <div class="tout_description">
            <div class="desc">
                <a href="" class="link_description">
                    Information générale
                </a>
            </div>
            <span class="tire">
                |
            </span>
            <div class="desc">
                <a href="" class="link_description">
                    Retrait & Livraison
                </a>
            </div>
            <span class="tire">
                |
            </span>
            <div class="desc">
                <a href="" class="link_description">
                    Frais & condition de vente
                </a>
            </div>
        </div>
        <div class="tout_description">
                    Cette montre Rolex Submariner est vendue aux enchères avec certificat
                    d'authenticité. Elle est en excellent état, accompagnée de sa boîte
                    d'origine et de tous ses accessoires. Les enchères restent ouvertes
                    jusqu'à la fin du compte à rebours.
        </div>
    </main>
{% endblock  %}