<footer class="footer">
    <div class="footer_container">

        <!-- Logo / description -->
        <div class="footer_box">
            <h2 class="footer_logo">Royal enchère</h2>
            <p>
                Plateforme de vente aux enchères en ligne permettant
                aux utilisateurs de proposer et d’acheter des produits en toute sécurité.
            </p>
        </div>

        <!-- Liens -->
        <div class="footer_box">
            <h3>Navigation</h3>
            <ul>
                <li><a href="#apropos">Accueil</a></li>
                <li><a href="#nosEnchere">Produits</a></li>
                <li><a href="#categories">Catégories</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <!-- Contact -->
        <div class="footer_box">
            <h3>Contact</h3>
            <p>atfatoky@gmail.com</p>
            <p>+261 34 79 901 31</p>
            <p>Antananarivo, Madagascar</p>
        </div>

        <!-- Réseaux -->
        <div class="footer_box">
            <h3>Suivez-nous</h3>
            <div class="socials">
                <a href="#"> <i class="fab fa-facebook"></i> Facebook</a>
                <a href="#"><i class="fab fa-instagram"></i> Instagram</a>
                <a href="#"><i class="fab fa-twitter-square"></i> Twitter</a>
            </div>
        </div>

    </div>

    <div class="footer_bottom">
        <p>© 2026 Royal enchère - Tous droits réservés</p>
    </div>
</footer>
